.simple-slider {
    width: 1024px;
    height: 612px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    border-radius: 20px;
}

.lugares img {
    border-radius: 10px;
    width: 100%;
    height: 400px;
    margin-bottom: 200px;
}

img.lugar {
    max-width: 1012px;
    border-radius: 10px;
}